In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('adult/adult.data', header=None, names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income'])
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
# №1
print(f"Число столбцов в наборе данных: {len(df.columns)}")

Число столбцов в наборе данных: 15

In [9]:
# №2
emptyColumns = [column for column in df.columns if df[column].isin([' ?']).any()]
if not emptyColumns:
    print("Пропусков нет")
else:
    for column in emptyColumns:
        count = df[column].value_counts()[' ?']
        print(f"{column}: {count}")

workclass: 1836
occupation: 1843
native-country: 583

In [10]:
# №3
print(f"Кол-во уникальных значений в столбце race: {df['race'].nunique()}")

Кол-во уникальных значений в столбце race: 5

In [11]:
# №4
print(f"Медиана hours-per-week: {df['hours-per-week'].median()}")

Медиана hours-per-week: 40.0

In [12]:
# №5
income50K = df[df['income'] == ' >50K']
menCount = income50K['sex'].value_counts().get(' Male', 0)
womenCount = income50K['sex'].value_counts().get(' Female', 0)
if menCount > womenCount:
    print("Больше мужчин")
elif womenCount > menCount:
    print("Больше женщин")
else:
    print("Поровну")

Больше мужчин

In [16]:
# №6
for column in ['workclass', 'occupation', 'native-country']:
    mostCommonValue = df[column].mode()[0]
    df[column] = df[column].replace({' ?': mostCommonValue})